In [340]:
import pandas as pd
import numpy as np

In [341]:
qs_raw_2023 = pd.read_csv('C:/Users/alion/OneDrive/文件/GitHub/WUR-analysis/QS/qs_raw_2023.csv', encoding = 'utf8')
qs_raw_2022 = pd.read_csv('C:/Users/alion/OneDrive/文件/GitHub/WUR-analysis/QS/qs_raw_2022.csv', encoding = 'utf8')

In [342]:
qs_rank_2023 = pd.read_csv('C:/Users/alion/OneDrive/文件/GitHub/WUR-analysis/QS/qs_rank_2023.csv', encoding = 'utf8')

In [343]:
qs_2023 = qs_raw_2023.merge(qs_rank_2023, how = 'right', on = 'University')

In [344]:
col_names = ['University', 'Total students', 'PG rate', 'UG rate', 'International students', 'Int\'l PG rate', 'Int\'l UG rate', 'Total faculty staff', 'Int\'l staff rate', 'Domestic staff rate', 'rank']
qs_2023.columns = col_names

feature engineering

In [345]:
# university
uni_f = [uni.split(' (')[0].split(' "')[0] for uni in qs_2023['University']]
qs_2023['University'] = uni_f
# rank
rank_range = qs_2023['rank'].map({'501-510': '505', '511-520': '515', '521-530': '525', '531-540': '535', '541-550': '545', '551-560': '555',
'561-570': '565', '571-580': '575', '581-590': '585', '591-600': '595', '601-650': '625', '651-700': '675',
'701-750': '725', '751-800': '775', '801-1000': '900', '1001-1200': '1100', '1201-1400': '1300'})
rank_woeq = qs_2023['rank'].str.replace('=', '', regex=True).str.replace('+', '', regex=True)
rank_f = [rank_woeq[i] if pd.isna(rank_range[i]) else rank_range[i] for i in range(len(qs_2023['rank']))]
qs_2023['rank'] = rank_f
qs_2023['rank'] = qs_2023['rank'].astype(int)
# data
to_int = ['Total students', 'International students', 'Total faculty staff']
for col in to_int:
    qs_2023[col] = qs_2023[col].str.replace(',', '', regex=True)
    qs_2023[col] = qs_2023[col].astype('Int64')
to_rate = ['PG rate', 'UG rate', 'Int\'l PG rate', 'Int\'l UG rate', 'Int\'l staff rate', 'Domestic staff rate']
for col in to_rate:
    qs_2023[col] = qs_2023[col].str.replace('%', '', regex=True)
    qs_2023[col] = qs_2023[col].replace('', np.nan).astype('float')*0.01

In [346]:
qs_2022 = qs_raw_2022

In [347]:
qs_2022

,University,Total students,PG students,UG students,International students,PG students.1,UG students.1,Total faculty staff,Int'l staff,Domestic staff,Status,Research Output,Size,rank
0,Massachusetts Institute of Technology (MIT),"11,333",60%,40%,"3,730",83%,17%,"3,065",1726.0,1339.0,Private,Very High,M,1
1,University of Oxford,"20,889",43%,57%,"8,442",69%,31%,"6,708",3097.0,3611.0,Public,Very High,L,2
2,Stanford University,"16,164",57%,43%,"3,879",81%,19%,"4,725",2266.0,2459.0,Private,Very High,L,=3
3,University of Cambridge,"20,383",39%,61%,"7,925",61%,39%,"5,800",3011.0,2789.0,Public,Very High,L,=3
4,Harvard University,"23,663",70%,30%,"5,877",85%,15%,"4,646",1524.0,3122.0,Private,Very High,L,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266,Universite de Tunis,"19,438",23.8%,76.2%,57,0%,100%,"1,174",22.0,1152.0,Public,High,L,1201+
1267,Universite de Tunis El Manar,"27,250",37%,63%,585,61%,39%,"3,504",28.0,3476.0,Public,Very High,L,1201+
1268,Yarmouk University,"34,080",12%,88%,"2,826",13%,87%,"1,113",32.0,1081.0,Public,Medium,XL,1201+
1269,Yildiz Technical University,"33,262",24%,76%,"2,394",13%,87%,"1,688",12.0,1676.0,Public,High,XL,1201+
1270,Zagazig University,"154,303",6%,94%,"2,300",34%,66%,"5,871",15.0,5856.0,Public,High,XL,1201+

In [348]:
col_names = ['University', 'Total students', 'PG rate', 'UG rate', 'International students', 'Int\'l PG rate', 'Int\'l UG rate', 'Total faculty staff', 'Int\'l staff rate', 'Domestic staff rate', 'Status', 'Research Output', 'Size', 'rank']
qs_2022.columns = col_names

In [349]:
# university
uni_f = [uni.split(' (')[0].split(' "')[0] for uni in qs_2022['University']]
qs_2022['University'] = uni_f
# rank
rank_range = qs_2022['rank'].map({'501-510': '505', '511-520': '515', '521-530': '525', '531-540': '535', '541-550': '545', '551-560': '555',
'561-570': '565', '571-580': '575', '581-590': '585', '591-600': '595', '601-650': '625', '651-700': '675',
'701-750': '725', '751-800': '775', '801-1000': '900', '1001-1200': '1100', '1201-1400': '1300'})
rank_woeq = qs_2022['rank'].str.replace('=', '', regex=True).str.replace('+', '', regex=True)
rank_f = [rank_woeq[i] if pd.isna(rank_range[i]) else rank_range[i] for i in range(len(qs_2022['rank']))]
qs_2022['rank'] = rank_f
qs_2022['rank'] = qs_2022['rank'].astype(int)
# data
to_int = ['Total students', 'International students', 'Total faculty staff']
for col in to_int:
    qs_2022[col] = qs_2022[col].str.replace(',', '', regex=True)
    qs_2022[col] = qs_2022[col].astype('Int64')
to_rate = ['PG rate', 'UG rate', 'Int\'l PG rate', 'Int\'l UG rate']
for col in to_rate:
    qs_2022[col] = qs_2022[col].str.replace('%', '', regex=True)
    qs_2022[col] = qs_2022[col].replace('', np.nan).astype('float')*0.01
to_rate = ['Int\'l staff rate', 'Domestic staff rate']
for col in to_rate:
    qs_2022[col] = qs_2022[col]/qs_2022['Total faculty staff']